<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue v-for directive</title>
</head>
<body>
    <div id="app">
        <button @click="pushTodo">Push</button>
        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                {{ todo.title }}
            </li>
        </ul>
        <ul>
            <!-- 객체에서 인덱스 사용 시 3번째!! -->
            <li v-for="(value, key, index) in omnibus" :key="index">
                {{ value }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                todos: [
                    { title: '아침 먹기' },
                    { title: '점심 먹기' },
                    { title: '저녁 먹기' }
                ],
                omnibus: {
                    name: 'Omnibus',
                    age: 33
                }
            },
            methods: {
                pushTodo () {
                    // this.todos[3] = { title: '야식 먹기' }
                    this.todos.push({ title: '야식 먹기' })
                }
            }
        });
    </script>
</body>
</html>